@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of
  * content. Table of content is use display the overall tree structure of your
  * Layout.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following color code and add your own as this is just and
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following typography and add your own as this is just and
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
   }

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
    display: block;
   }

   /* Force scrollbar */
   html { overflow-y: scroll; }

   /* Align radios and text inputs with their label */

   input[type='radio'] { vertical-align: text-bottom; }

   /* Hand cursor on clickable input elements */
   label,
   input[type='button'],
   input[type='submit'],
   button {
    cursor: pointer;
   }

   strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
   }

   em { font-style: italic; }

   img {
    border: 0;
    vertical-align: middle;
   }

   sub,
   sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
   }

   sup { top: -.7em; }

   sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
 }

 /* ======= Your styling goes below ======= */
/* COMMON STYLING */
 * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
 }

 .container { width: 100%; }

 .wrapper {
  width: 55.365%;
  margin: 0 auto;
  max-width: 1500px;
 }

 .fas { padding-right: 5px; }
 body { font-family: Arial; }
 ul li { list-style: none; }
 img { width: 100%; }
 .uppercase { text-transform: uppercase; }
 .first-letter:first-letter { text-transform: capitalize; }
 .block { display: block; }
 .centre { text-align: center; }
 .capitalize { text-transform: capitalize; }

 .transition {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
 }

 a {
  display: inline-block;
  text-decoration: none;
 }
/* HEADER */
.header-top {
  padding: 10px;
  background-color: #000000;
}

.header-top form {
  width: 22.61%;
  /* height: 22px; */
  margin-right: 20px;
  display: inline-block;
  border: 1px solid #616264;
}

.header-top input[type=search]{
  width: 80.47%;
  border: none;
  display: inline-block;
  background: transparent;
  font-size: 17px;
}

.header-top button {
  width: 15.53%;
  border: none;
  display: inline-block;
  background: transparent;
  color: #616264;
  font-size: 17px;
}

.account {
  display: inline-block;
}
.account li {
  display: inline-block;
}
.account a {
  margin-right: 22px;
  color: #6d7276;
}
.account li:first-child a::before {
  content: '\f2bd';
  font-family: "Font Awesome 5 Free";
  color: #595E61;
  padding-right: 5px;
  display: inline-block;
}

.account li:nth-child(2) a::before {
  content: '\f004';
  font-family: "Font Awesome 5 Free";
  color: #595E61;
  padding-right: 5px;
  display: inline-block;
}

.account li:last-child a::before {
  content: '\f2bd';
  font-family: "Font Awesome 5 Free";
  color: #595E61;
  padding-right: 2px;
  display: inline-block;
}

.cart {
  display: inline-block;
  float: right;
}

.cart span {
  color: #595E61;
}

.cart span::after {
  content: '\f217';
  font-family: "Font Awesome 5 Free";
}

.header-bottom {
  padding: 10px;
  background-color: #363636;
}

h1 {
  width: 25.14%;
  display: inline-block;
}

nav {
  width: 74.85%;
  float: right;
}
nav li {
  width: 13.4%;
  margin-top: 10px;
  display: inline-block;
  text-align: center;
}
nav a {
  color: #f0f0f0;
  font-size: 9px;
  letter-spacing:0;
}

/* BANNER */
.banner {
  background-image: url(https://via.placeholder.com/1680x250);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 230px;
  margin-bottom: 46px;
}
.banner .wrapper {
  position: relative;
}
.banner h2 {
  position: absolute;
  /* bottom: 48px; */
  top: 128px;
  left: 0;
  font-size: 30px;
  color: #fbfbfb;
}

.banner ul {
  position: absolute;
  top: 128px;
  right: 0;
}

.banner ul li {
  display: inline-block;
}

.banner li::after {
  content: ' /';
}

.banner li:last-child::after {
  content: '';
}

.banner li a {
  color: #7a7e81;
}

/* GINGERBREAD */
.gingerbread {
  margin-bottom: 44px;
}

.gingerbread p {
  color: #7b7c7e;
  font-size: 13px;
}

/* gallery */
.gallery-menu {
  margin-bottom: 27px;
}

.gallery-menu li {
  display: inline-block;
  padding-top: 9px;
  margin-right: 15px;
  border-top: 4px solid transparent;
}
.gallery-menu li:hover {
  border-top: 4px solid #ededed;
  border-radius: 2px;
}
.gallery-menu a {
  color: #aacbc9;
  font-size: 13px;
  letter-spacing: 0;
}
.gallery-menu li:hover a {
  color: #bfbfbf;
}

.gallery-content li {
  width: 31.8%;
  position: relative;
  display: inline-block;
  margin-right: -5px;
  margin-bottom: 27px;
  box-sizing: border-box;
}
.gallery-content li:nth-child(3n) {
  margin-right: 0;
}
.gallery-content li:nth-child(3n-1) {
  margin: 0 14px;
}
.gallery-like {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 64px 110px;
  background-color: #666666;
  opacity: 0;
}
.gallery-like li {
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.gallery-like li:nth-child(3n-1) {
  margin: 5px 0;
}
.gallery-like a {
  font-size: 25px;
  color: #f9ffff;
  background-color: #02bbad;
  padding: 10px 10px;
  border-radius: 50px;
  margin-bottom: 8px;
}
.gallery-like a:last-child {
  margin-bottom: 0;
}

.gallery-votes {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #3d3d3d;
  padding: 16px 18px;
}

.gallery-votes-top {
  margin-bottom: 4px;
}

.gallery-votes-top h3 {
  float: left;
  color: #a3a3a3;
  font-size: 13px;
}
.gallery-votes-top span {
  float: right;
  color: #fefefe;
  font-size: 11px;
}

.gallery-votes-bottom span:first-child {
  float: left;
  color: #39817b;
  font-size: 10px;
}

.gallery-votes-bottom span:last-child {
  float: right;
  color: #39817b;
  font-size: 10px;
}

/* for overlay */
.gallery-content li:hover .gallery-like {
  opacity: 0.8;
}
.gallery-content li:hover .gallery-votes {
  opacity: 0;
}
